body {
    background-image:url('images/bg/main.jpg');
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat:no-repeat;
    background-size: cover;
}	

#loginDiv 
{
border:3px solid #0C3919;
max-width: 400px;
border-radius:10%;   
background-color:White;
z-index:-1;
margin-top:-5%;
}
